Repository kadragon/scholaria: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, frontend-test

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        exclude: ^uv\.lock$
      - id: check-merge-conflict
      - id: debug-statements

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.7.1
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  - repo: https://github.com/adamchainz/django-upgrade
    rev: 1.21.0
    hooks:
      - id: django-upgrade
        args: [--target-version, "5.0"]

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        files: ^admin-frontend/.*\.(ts|tsx|js|jsx|json|css)$
        exclude: ^admin-frontend/(dist|node_modules)/

  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: uv run mypy
        language: system
        types: [python]
        require_serial: true

      - id: frontend-test
        name: frontend-test
        entry: bash -c 'cd frontend && npm run test'
        language: system
        files: ^frontend/
        pass_filenames: false

  # Django tests removed from pre-push for faster workflow
  # Run manually when needed: uv run python manage.py test --settings=core.test_settings

style: Fix ruff format for assert statements in tests
  backend/tests/test_golden_accuracy.py
  backend/tests/test_performance_benchmark.py
Due: mypy

[Structural] Add rag_contextitem.order_index btree index for sorting performance [add-missing-indexes]
  .pre-commit-config.yaml
  alembic/versions/0004_add_contextitem_order_index.py
  backend/tests/test_alembic_migrations.py
  docs/agents/AGENTS.md
  docs/agents/tasks/add-missing-indexes/PLAN.md
  docs/agents/tasks/add-missing-indexes/PROGRESS.md
  docs/agents/tasks/add-missing-indexes/RESEARCH.md
  docs/agents/tasks/add-missing-indexes/TASK_SUMMARY.md
Due: mypy

[Behavioral] Expand frontend test coverage to 51.29% (Phase 6) [frontend-test-coverage-phase6]
  docs/agents/TASKS.md
  docs/agents/tasks/frontend-test-coverage-expansion/PLAN.md
  docs/agents/tasks/frontend-test-coverage-expansion/PROGRESS.md
  docs/agents/tasks/frontend-test-coverage-expansion/RESEARCH.md
  frontend/src/__mocks__/msw/handlers.ts
  frontend/src/components/__tests__/AnalyticsSkeleton.test.tsx
  frontend/src/hooks/__tests__/useCommandPalette.test.tsx
  frontend/src/pages/__tests__/setup.test.tsx
  frontend/src/pages/chat/components/__tests__/MessageList.test.tsx
  frontend/src/pages/chat/components/__tests__/TopicSelector.test.tsx
  frontend/vitest.config.ts
Due: frontend-test

[Behavioral] Add Phase 5 test files (40.91% coverage) [frontend-test-coverage-phase6]
  frontend/src/components/__tests__/Sidebar.test.tsx
  frontend/src/pages/__tests__/login.test.tsx
  frontend/src/pages/chat/components/__tests__/MessageInput.test.tsx
  frontend/src/providers/__tests__/dataProvider.test.ts
Due: frontend-test

[Structural] Improve test robustness and accessibility
  docs/agents/TASKS.md
  docs/agents/tasks/frontend-test-coverage-expansion/PLAN.md
  frontend/src/components/AnalyticsSkeleton.tsx
  frontend/src/components/Sidebar.tsx
  frontend/src/components/__tests__/AnalyticsSkeleton.test.tsx
  frontend/src/components/__tests__/Sidebar.test.tsx
  frontend/src/hooks/__tests__/useCommandPalette.test.tsx
  frontend/src/pages/__tests__/login.test.tsx
  frontend/src/pages/__tests__/setup.test.tsx
  frontend/src/pages/login.tsx
  frontend/src/pages/setup.tsx
Due: frontend-test

[Structural] Upgrade React Router v6 → v7 and migrate all imports [react-router-v7-upgrade]
  .tasks/react-router-v7-upgrade/PROGRESS.md
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/CommandPalette.tsx
  frontend/src/components/Sidebar.tsx
  frontend/src/components/__tests__/CommandPalette.test.tsx
  frontend/src/components/__tests__/Sidebar.test.tsx
  frontend/src/hooks/__tests__/useCommandPalette.test.tsx
  frontend/src/pages/__tests__/login.test.tsx
  frontend/src/pages/__tests__/setup.test.tsx
  frontend/src/pages/chat/index.tsx
  frontend/src/pages/contexts/edit.tsx
  frontend/src/pages/contexts/show.tsx
  frontend/src/pages/login.tsx
  frontend/src/pages/setup.tsx
  frontend/src/pages/topics/edit.tsx
Due: frontend-test

[Structural] Align Node.js version to 24 for React Router v7 compatibility [react-router-v7-upgrade]
  .tasks/react-router-v7-upgrade/PROGRESS.md
  docker-compose.yml
  frontend/package.json
Due: frontend-test

[Structural] (react-router-v7) Add task summary - upgrade already completed [react-router-v7-upgrade]
  .tasks/react-router-v7-upgrade/TASK_SUMMARY.md
Due: none

[Structural] (tasks) Mark React Router v7 upgrade as completed [react-router-v7-upgrade]
  .tasks/TASKS.md
Due: none

[Structural] (observability) Add OpenTelemetry foundation [observability-opentelemetry]
  .tasks/observability-opentelemetry/PLAN.md
  .tasks/observability-opentelemetry/RESEARCH.md
  .tasks/observability-opentelemetry/SPEC-DELTA.md
  backend/config.py
  backend/main.py
  backend/observability.py
  backend/tests/test_observability.py
  pyproject.toml
  uv.lock
Due: mypy

[Structural] (docs) Update observability task progress documentation [observability-opentelemetry]
  .tasks/TASKS.md
  .tasks/observability-opentelemetry/PLAN.md
  .tasks/observability-opentelemetry/PROGRESS.md
Due: none

[Behavioral] (observability) Add custom RAG pipeline spans [observability-opentelemetry]
  .tasks/observability-opentelemetry/PROGRESS.md
  backend/retrieval/embeddings.py
  backend/retrieval/qdrant.py
  backend/retrieval/reranking.py
  backend/services/rag_service.py
Due: mypy

[Structural] fix(test): add missing mocks to RAG endpoint validation tests [observability-opentelemetry]
  backend/tests/test_rag_endpoint.py
Due: mypy

[Behavioral] feat(metrics): add Phase 3 custom metrics to RAG pipeline [observability-opentelemetry]
  backend/retrieval/embeddings.py
  backend/services/rag_service.py
  backend/tests/test_performance_benchmark.py
  backend/tests/test_rag_metrics.py
Due: mypy

[Behavioral] feat(observability): complete OpenTelemetry integration with Jaeger, Prometheus, and Grafana [observability-opentelemetry]
  .agents/AGENTS.md
  .tasks/TASKS.md
  .tasks/observability-opentelemetry/PROGRESS.md
  backend/README.md
  backend/main.py
  backend/retrieval/monitoring.py
  backend/tests/test_grafana_integration.py
  backend/tests/test_jaeger_integration.py
  backend/tests/test_metrics_endpoint.py
  backend/tests/test_observability_performance.py
  backend/tests/test_openai_usage_monitor_metrics.py
  backend/tests/test_prometheus_integration.py
  backend/tests/test_rag_metrics.py
  docker-compose.yml
  docs/DEPLOYMENT.md
  docs/OBSERVABILITY.md
  grafana/provisioning/dashboards/dashboards.yml
  grafana/provisioning/dashboards/rag-pipeline.json
  grafana/provisioning/datasources/datasources.yml
  prometheus.yml
Due: mypy

[Structural] (rag): move time import to module level for PEP 8 compliance [observability-opentelemetry]
  backend/services/rag_service.py
Due: mypy

[Structural] refactor(frontend): remove theme toggle system and update analytics to use TanStack Query
  docker-compose.yml
  frontend/package-lock.json
  frontend/src/App.tsx
  frontend/src/components/ThemeToggle.tsx
  frontend/src/components/__tests__/ThemeToggle.test.tsx
  frontend/src/contexts/ThemeContext.ts
  frontend/src/hooks/useTheme.ts
  frontend/src/index.css
  frontend/src/pages/analytics.tsx
  frontend/src/pages/chat/components/TopicSelector.tsx
  frontend/src/pages/chat/index.tsx
  frontend/src/providers/ThemeProvider.tsx
  frontend/src/providers/__tests__/ThemeProvider.test.tsx
  frontend/tailwind.config.js
Due: frontend-test

[Structural] refactor(analytics): move axios client to module scope to prevent memory leaks
  frontend/src/pages/analytics.tsx
Due: frontend-test

[Behavioral] fix(analytics): restore 401 authentication handling via shared apiClient
  frontend/src/pages/analytics.tsx
Due: frontend-test

[Behavioral] feat(analytics): preserve previous data during topic filter changes
  frontend/src/pages/analytics.tsx
Due: frontend-test

[Structural] refactor(analytics): revert to Refine useCustom for consistency
  frontend/src/pages/analytics.tsx
Due: frontend-test

[Structural] debug(analytics): add temporary console logging for data inspection
  frontend/src/pages/analytics.tsx
Due: frontend-test

[Behavioral] fix(dataProvider): implement custom method for analytics API calls
  frontend/src/providers/dataProvider.ts
Due: frontend-test

[Structural] chore(analytics): remove debug console logging
  frontend/src/pages/analytics.tsx
Due: frontend-test

[Structural] chore(docker): pin Jaeger image to version 1.74.0
  docker-compose.yml
Due: none

[Behavioral] test(frontend): add Phase 7 CRUD list tests achieving 47.87% coverage [frontend-test-phase-7]
  .tasks/TASKS.md
  .tasks/frontend-test-coverage-expansion/PLAN.md
  .tasks/frontend-test-coverage-expansion/PROGRESS.md
  frontend/src/pages/contexts/__tests__/list.test.tsx
  frontend/src/pages/topics/__tests__/list.test.tsx
  frontend/vitest.config.ts
Due: frontend-test

[Behavioral] test(frontend): expand coverage to 62.17% with Phase 8-9 tests [frontend-test-phase-7]
  .tasks/TASKS.md
  .tasks/frontend-test-coverage-expansion/PLAN.md
  .tasks/frontend-test-coverage-expansion/PROGRESS.md
  frontend/src/pages/contexts/__tests__/create.test.tsx
  frontend/src/pages/contexts/__tests__/edit.test.tsx
  frontend/src/pages/topics/__tests__/create.test.tsx
  frontend/src/pages/topics/__tests__/edit.test.tsx
  frontend/src/providers/__tests__/dataProvider.test.ts
  frontend/vitest.config.ts
Due: frontend-test

[Structural] docs(tasks): add E2E testing plan with Playwright [frontend-test-phase-7]
  .tasks/TASKS.md
  .tasks/e2e-testing-playwright/PLAN.md
Due: none

[Structural] test(e2e): add Playwright E2E testing infrastructure [e2e-playwright]
  .github/workflows/e2e-tests.yml
  frontend/.gitignore
  frontend/README.md
  frontend/e2e/README.md
  frontend/e2e/fixtures/auth.ts
  frontend/e2e/fixtures/sample.pdf
  frontend/e2e/pages/analytics.page.ts
  frontend/e2e/pages/chat.page.ts
  frontend/e2e/pages/contexts.page.ts
  frontend/e2e/pages/login.page.ts
  frontend/e2e/pages/setup.page.ts
  frontend/e2e/pages/topics.page.ts
  frontend/e2e/tests/analytics.spec.ts
  frontend/e2e/tests/auth.setup.ts
  frontend/e2e/tests/auth.spec.ts
  frontend/e2e/tests/chat-qa.spec.ts
  frontend/e2e/tests/context-ingestion.spec.ts
  frontend/e2e/tests/topic-management.spec.ts
  frontend/eslint.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/playwright.config.ts
  frontend/vitest.config.ts
Due: frontend-test

[Structural] docs(tasks): add E2E Playwright implementation progress [e2e-playwright]
  .tasks/e2e-testing-playwright/PROGRESS.md
Due: none

[Structural] test(e2e): address PR review feedback and improve test stability [e2e-playwright]
  .github/workflows/e2e-tests.yml
  frontend/.env.example
  frontend/README.md
  frontend/e2e/tests/analytics.spec.ts
  frontend/e2e/tests/auth.setup.ts
  frontend/e2e/tests/chat-qa.spec.ts
  frontend/e2e/tests/context-ingestion.spec.ts
  frontend/e2e/tests/topic-management.spec.ts
Due: frontend-test

[Bug Fix] test(e2e): fix setup API field mismatch and add Korean UI support [e2e-playwright]
  frontend/.env.example
  frontend/e2e/pages/analytics.page.ts
  frontend/e2e/pages/chat.page.ts
  frontend/e2e/pages/contexts.page.ts
  frontend/e2e/pages/login.page.ts
  frontend/e2e/pages/topics.page.ts
  frontend/e2e/tests/auth.setup.ts
  frontend/e2e/tests/auth.spec.ts
  frontend/src/components/Sidebar.tsx
  frontend/src/components/ui/toast.tsx
  frontend/src/pages/__tests__/login.test.tsx
  frontend/src/pages/__tests__/setup.test.tsx
  frontend/src/pages/analytics.tsx
  frontend/src/pages/login.tsx
  frontend/src/pages/setup.tsx
Due: frontend-test

[Structural] docs(e2e): add comprehensive test status report [e2e-playwright]
  .tasks/e2e-testing-playwright/TEST_STATUS.md
Due: none

[Structural] test(e2e): refine Page Object Models and add test data auto-generation [e2e-playwright]
  .tasks/e2e-testing-playwright/PROGRESS.md
  .tasks/e2e-testing-playwright/TEST_STATUS.md
  frontend/e2e/pages/chat.page.ts
  frontend/e2e/pages/contexts.page.ts
  frontend/e2e/pages/topics.page.ts
  frontend/e2e/tests/auth.setup.ts
  frontend/e2e/tests/context-ingestion.spec.ts
  frontend/e2e/tests/topic-management.spec.ts
Due: frontend-test

[Behavioral] (e2e) Improve test stability - timeouts, selectors, search [e2e-playwright]
  .tasks/e2e-testing-playwright/PROGRESS.md
  frontend/e2e/pages/contexts.page.ts
  frontend/e2e/pages/topics.page.ts
  frontend/e2e/tests/auth.spec.ts
  frontend/e2e/tests/chat-qa.spec.ts
  frontend/e2e/tests/context-ingestion.spec.ts
  frontend/e2e/tests/topic-management.spec.ts
  frontend/playwright.config.ts
  frontend/src/components/__tests__/Sidebar.test.tsx
Due: frontend-test

[Structural] test(e2e): add wait time before search operations [e2e-playwright]
  frontend/e2e/tests/context-ingestion.spec.ts
  frontend/e2e/tests/topic-management.spec.ts
Due: frontend-test

[Structural] docs(e2e): update TEST_STATUS with current results [e2e-playwright]
  .tasks/e2e-testing-playwright/TEST_STATUS.md
Due: none
