Repository kadragon/scholaria: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, frontend-test

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        exclude: ^uv\.lock$
      - id: check-merge-conflict
      - id: debug-statements

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.7.1
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  - repo: https://github.com/adamchainz/django-upgrade
    rev: 1.21.0
    hooks:
      - id: django-upgrade
        args: [--target-version, "5.0"]

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        files: ^admin-frontend/.*\.(ts|tsx|js|jsx|json|css)$
        exclude: ^admin-frontend/(dist|node_modules)/

  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: uv run mypy
        language: system
        types: [python]
        require_serial: true

      - id: frontend-test
        name: frontend-test
        entry: bash -c 'cd frontend && npm run test'
        language: system
        files: ^frontend/
        pass_filenames: false

  # Django tests removed from pre-push for faster workflow
  # Run manually when needed: uv run python manage.py test --settings=core.test_settings

[Structural] test(e2e): remove waitForTimeout anti-pattern for improved stability [e2e-playwright]
  .github/CODEOWNERS
  .github/dependabot.yml
  .tasks/e2e-testing-playwright/PROGRESS.md
  frontend/e2e/pages/contexts.page.ts
  frontend/e2e/pages/topics.page.ts
  frontend/e2e/tests/auth.spec.ts
  frontend/e2e/tests/context-ingestion.spec.ts
  frontend/e2e/tests/topic-management.spec.ts
Due: frontend-test

[Structural] test(frontend): fix setup test routing paths to match /admin prefix [e2e-playwright]
  frontend/src/pages/__tests__/setup.test.tsx
Due: frontend-test

[Behavioral] (e2e) Fix table visibility and timeout issues [e2e-testing-fixes]
  frontend/e2e/tests/analytics.spec.ts
  frontend/e2e/tests/chat-qa.spec.ts
  frontend/e2e/tests/context-ingestion.spec.ts
  frontend/e2e/tests/topic-management.spec.ts
Due: frontend-test

[Structural] (docs) Update E2E test progress and status [e2e-testing-fixes]
  .tasks/e2e-testing-playwright/PROGRESS.md
  .tasks/e2e-testing-playwright/TEST_STATUS.md
Due: none

[Behavioral] (e2e) Fix API response parsing for contexts [e2e-testing-fixes]
  frontend/e2e/tests/context-ingestion.spec.ts
  frontend/e2e/tests/topic-management.spec.ts
Due: frontend-test

[Behavioral] (e2e) Fix auth credentials mismatch [e2e-testing-fixes]
  frontend/e2e/tests/auth.spec.ts
Due: frontend-test

[Behavioral] (e2e) Add wait time and increase PDF test timeout [e2e-testing-fixes]
  frontend/e2e/tests/context-ingestion.spec.ts
Due: frontend-test

test(e2e): centralize api url helper
  frontend/e2e/helpers/api.ts
  frontend/e2e/tests/analytics.spec.ts
  frontend/e2e/tests/auth.setup.ts
  frontend/e2e/tests/auth.spec.ts
  frontend/e2e/tests/context-ingestion.spec.ts
  frontend/e2e/tests/topic-management.spec.ts
Due: frontend-test

Adjust ESLint config for react-hooks 7
  frontend/eslint.config.js
Due: frontend-test

[Structural](repo) relocate backend uv tooling [backend-tooling-restructure]
  .gitignore
  .pre-commit-config.yaml
  .tasks/backend-tooling-restructure/PLAN.md
  .tasks/backend-tooling-restructure/PROGRESS.md
  .tasks/backend-tooling-restructure/RESEARCH.md
  .tasks/backend-tooling-restructure/SPEC-DELTA.md
  .vscode/settings.json
  Dockerfile.backend
  README.md
  backend/.python-version
  backend/pyproject.toml
  backend/tests/test_alembic_migrations.py
  backend/tests/test_alembic_setup.py
  backend/tests/test_grafana_integration.py
  backend/tests/test_no_django_dependencies.py
  backend/tests/test_prometheus_integration.py
  backend/uv.lock
  docs/ARCHITECTURE_DECISIONS.md
  docs/CONTRIBUTING.md
  docs/DEPLOYMENT.md
  docs/OBSERVABILITY.md
  docs/TESTING_STRATEGY.md
  pyproject.toml
  pyrightconfig.json
  scripts/docker/dev-entrypoint.sh
  scripts/docker/fastapi-dev-entrypoint.sh
  scripts/test-fast.sh
  scripts/test-slow.sh
  scripts/test-unit.sh
  scripts/test_docker_integration.sh
Due: mypy

[Structural](repo) consolidate Python tooling configs into backend folder [backend-tooling-restructure]
  README.md
  backend/alembic.ini
  backend/alembic/env.py
  backend/alembic/script.py.mako
  backend/alembic/versions/0001_baseline.py
  backend/alembic/versions/0002_add_topic_slug.py
  backend/alembic/versions/0003_add_order_index_to_contextitem.py
  backend/alembic/versions/0004_add_contextitem_order_index.py
  backend/alembic/versions/990a42024f17_add_feedback_score.py
  backend/alembic/versions/e26f3ba7cd58_add_feedback_comment_to_question_history.py
  backend/pyproject.toml
  backend/pyrightconfig.json
  backend/tests/test_alembic_setup.py
  pytest.ini
  scripts/test_docker_integration.sh
Due: mypy

[Behavioral](docker,scripts) fix module paths and optimize pre-commit hooks [backend-tooling-restructure]
  .pre-commit-config.yaml
  Dockerfile.backend
  scripts/docker/dev-entrypoint.sh
  scripts/docker/fastapi-dev-entrypoint.sh
Due: none

[Structural](packaging) fix hatch wheel packages configuration [backend-tooling-restructure]
  backend/pyproject.toml
Due: none

[Structural](.agents) refactor knowledge base to modular v2 loader architecture
  .agents/00-foundations/AG-FOUND-DOCKER-STACK-001.md
  .agents/00-foundations/AG-FOUND-DOCS-001.md
  .agents/00-foundations/AG-FOUND-INTENT-001.md
  .agents/00-foundations/AG-FOUND-SCRIPTS-001.md
  .agents/10-policies/AG-POLICY-BRANCH-001.md
  .agents/10-policies/AG-POLICY-CACHE-BEHAVIOR-001.md
  .agents/10-policies/AG-POLICY-DEV-GUARDRAILS-001.md
  .agents/10-policies/AG-POLICY-DOCKER-CONSTRAINTS-001.md
  .agents/10-policies/AG-POLICY-DOCS-QUALITY-001.md
  .agents/10-policies/AG-POLICY-SCHEMA-GUIDELINES-001.md
  .agents/10-policies/AG-POLICY-SCRIPTS-QUALITY-001.md
  .agents/20-workflows/AG-WORKFLOW-ALEMBIC-001.md
  .agents/20-workflows/AG-WORKFLOW-DEV-LOOP-001.md
  .agents/20-workflows/AG-WORKFLOW-DOCKER-DEV-001.md
  .agents/20-workflows/AG-WORKFLOW-DOCS-MAINTENANCE-001.md
  .agents/20-workflows/AG-WORKFLOW-FASTAPI-OPS-001.md
  .agents/20-workflows/AG-WORKFLOW-RAG-PIPELINE-001.md
  .agents/20-workflows/AG-WORKFLOW-RAG-TESTS-001.md
  .agents/20-workflows/AG-WORKFLOW-RSP-I-001.md
  .agents/20-workflows/AG-WORKFLOW-SCRIPTS-DOCKER-ENTRYPOINT-001.md
  .agents/20-workflows/AG-WORKFLOW-SCRIPTS-USAGE-001.md
  .agents/90-overrides/AG-OVERRIDE-CHANGELOG-001.md
  .agents/90-overrides/AG-OVERRIDE-DOCKER-CHANGELOG-001.md
  .agents/90-overrides/AG-OVERRIDE-DOCS-CHANGELOG-001.md
  .agents/90-overrides/AG-OVERRIDE-SCRIPTS-CHANGELOG-001.md
  .agents/AGENTS.md
  .agents/_archive/README.md
  .agents/docker/AGENTS.md
  .agents/docs/AGENTS.md
  .agents/rag/retrieval/AGENTS.md
  .agents/scripts/AGENTS.md
  .agents/scripts/docker/AGENTS.md
Due: none

[Behavioral](infra) Align celery worker uv bootstrap and chat E2E [celery-worker-docker-fix]
  .pre-commit-config.yaml
  .tasks/TASKS.md
  .tasks/celery-worker-docker-fix/ISSUE.md
  .tasks/celery-worker-docker-fix/PLAN.md
  .tasks/celery-worker-docker-fix/PROGRESS.md
  .tasks/celery-worker-docker-fix/RESEARCH.md
  .tasks/celery-worker-docker-fix/SPEC-DELTA.md
  .tasks/e2e-testing-playwright/PROGRESS.md
  Dockerfile.backend
  backend/routers/contexts.py
  backend/tests/test_contexts_write.py
  docker-compose.yml
  frontend/e2e/pages/chat.page.ts
  frontend/e2e/tests/chat-qa.spec.ts
  scripts/docker/celery-entrypoint.sh
  scripts/docker/dev-entrypoint.sh
  scripts/precommit_mypy.sh
Due: mypy, frontend-test

[Structural] (frontend-e2e) Stabilize topic and context e2e flows [e2e-testing-playwright]
  .tasks/e2e-testing-playwright/IMPROVEMENT_PLAN.md
  frontend/e2e/pages/topics.page.ts
  frontend/e2e/tests/analytics.spec.ts
  frontend/e2e/tests/context-ingestion.spec.ts
  frontend/e2e/tests/topic-management.spec.ts
Due: frontend-test

[Structural] (frontend-e2e) Stabilize topic and context e2e flows [e2e-testing-playwright]
  .tasks/e2e-testing-playwright/IMPROVEMENT_PLAN.md
  Dockerfile.backend
  backend/routers/contexts.py
  docker-compose.yml
  frontend/e2e/pages/topics.page.ts
  frontend/e2e/tests/analytics.spec.ts
  frontend/e2e/tests/context-ingestion.spec.ts
  frontend/e2e/tests/topic-management.spec.ts
  scripts/docker/celery-entrypoint.sh
Due: mypy, frontend-test

feat: E2E testing Playwright integration with OpenAI API key and Docker environment fixes
  .tasks/TASKS.md
  .tasks/e2e-testing-playwright/PROGRESS.md
  docker-compose.yml
  frontend/e2e/tests/chat-qa.spec.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/playwright.config.ts
Due: frontend-test

docs: Update E2E testing documentation and test files
  .tasks/celery-worker-docker-fix/PROGRESS.md
  .tasks/e2e-testing-playwright/TEST_STATUS.md
  frontend/e2e/pages/chat.page.ts
  frontend/e2e/pages/topics.page.ts
  frontend/e2e/tests/topic-management.spec.ts
Due: frontend-test

feat: Add data-testid attributes and improve UI components for E2E testing
  Dockerfile.backend
  backend/pyproject.toml
  backend/uv.lock
  frontend/src/pages/chat/components/FeedbackControls.tsx
  frontend/src/pages/chat/components/MessageList.tsx
  frontend/src/pages/chat/components/TopicSelector.tsx
  frontend/src/pages/topics/list.tsx
Due: frontend-test

[Behavioral] (e2e-testing-playwright) E2E 테스트 다중 메시지 전송 버튼 활성화 및 피드백 검증 수정, README 문서화 완료
  .tasks/TASKS.md
  .tasks/e2e-testing-playwright/PROGRESS.md
  docker-compose.yml
  frontend/README.md
  frontend/e2e/README.md
  frontend/e2e/pages/chat.page.ts
  frontend/e2e/tests/auth.setup.ts
  frontend/e2e/tests/chat-qa.spec.ts
  frontend/e2e/tests/context-ingestion.spec.ts
  frontend/src/pages/chat/components/MessageInput.tsx
  frontend/src/pages/chat/components/__tests__/FeedbackControls.test.tsx
Due: frontend-test

[Behavioral] Fix unused imports in E2E chat tests [e2e-testing-playwright]
  .tasks/TASKS.md
  .tasks/e2e-testing-playwright/PROGRESS.md
  backend/routers/rag_streaming.py
  backend/services/rag_service.py
  frontend/e2e/tests/chat-qa.spec.ts
  frontend/playwright.config.ts
Due: mypy, frontend-test

Performance: Wrap sync DB call in asyncio.to_thread to avoid blocking event loop
  backend/services/rag_service.py
  frontend/e2e/pages/chat.page.ts
  frontend/e2e/tests/chat-qa.spec.ts
Due: mypy, frontend-test

[Behavioral] Implement FastAPI bulk operations API and processing status endpoint for Refine Admin Panel
  .tasks/TASKS.md
  .tasks/e2e-testing-playwright/PROGRESS.md
  .tasks/frontend-test-coverage-expansion/PROGRESS.md
  .tasks/refine-admin-panel/PROGRESS.md
  backend/pyproject.toml
  backend/routers/admin/contexts.py
  backend/schemas/admin.py
  backend/tests/admin/test_admin_contexts.py
  frontend/vitest.config.ts
Due: mypy, frontend-test

[Chore] Remove django-upgrade from pre-commit hooks
  .pre-commit-config.yaml
Due: none

[Structural] Improve type safety and maintainability of processing status endpoint (admin-api) [feat/refine-admin-api-step-6-1]
  backend/routers/admin/contexts.py
  backend/schemas/admin.py
Due: mypy
